@font-face {
  font-family: "Kode Mono";
  src: URL("../fonts/KodeMono-VariableFont_wght.ttf") format("truetype");
}
@font-face {
  font-family: "7seg";
  src: URL("../fonts/7seg.ttf") format("truetype");
}

#meter {
  color: #333333;
}

.meter__glass {
  width: 300px;
  height: 300px;
  position: absolute;
  opacity: 0.25;
  background: linear-gradient(
    45deg,
    #333 5%,
    #fff 10%,
    #333 30%,
    #999 50%,
    #333 70%,
    #fff 80%,
    #333 95%
  );
  border-radius: 9999px;
}

.meter__frame--second {
  width: 300px;
  height: 300px;
  border-radius: 9999px;
  overflow: hidden;
  position: relative;
  background-color: #000000;
  border: 10px solid #fffffe;
  box-shadow: 0 0 5px #999999, inset 0 0 5px #fffffe;
}

.meter__frame--minute {
  width: 260px;
  height: 260px;
  border-radius: 9999px;
  overflow: hidden;
  position: absolute;
  background-color: #000000;
  margin-top: 10px;
  margin-left: 10px;
  border: 2px solid #999999;
}
.meter__frame--hour {
  width: 236px;
  height: 236px;
  border-radius: 9999px;
  overflow: hidden;
  position: absolute;
  background-color: #000000;
  margin-top: 10px;
  margin-left: 10px;
  border: 2px solid #999999;
}
.meter__frame--digital {
  width: 212px;
  height: 212px;
  border-radius: 9999px;
  overflow: hidden;
  position: absolute;
  background-color: #fffffe;
  margin-top: 10px;
  margin-left: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 0 5px #fffffe;
}

.meter__grid {
  width: 2px;
  background-color: #333333;
  position: absolute;
}
.meter__grid--second {
  height: 280px;
  margin-left: 139px;
}
.meter__grid--minute {
  height: 256px;
  margin-left: 127px;
}
.meter__grid--hour {
  height: 232px;
  margin-left: 115px;
}
.meter__grid--light {
  background-color: #666666;
}

.meter__dial {
  background-color: #ff0000;
  box-shadow: -1px 0px 1px #ff0000, -2px 0px 2px #ff0000, -3px 0px 3px #ff0000,
    -4px 0px 4px #ff0000, -5px 0px 5px #ff0000;
  transform-origin: bottom center;
  position: absolute;
  width: 2px;
  margin-top: 0px;
}
.meter__dial--second {
  height: 140px;
  margin-left: 139px;
}
.meter__dial--minute {
  height: 128px;
  margin-left: 127px;
}
.meter__dial--hour {
  height: 116px;
  margin-left: 115px;
}

.meter__digital {
  width: 123px;
  height: 102px;
  font-family: "7Seg";
  gap: 6px;
}

.meter__digital__hour {
  font-size: 48px;
  height: 48px;
  width: 62px;
  position: absolute;
  margin-left: 30px;
}
.meter__digital__hour::before {
  content: "88";
  position: absolute;
  opacity: 0.1;
}
.meter__digital__minute {
  font-size: 48px;
  height: 48px;
  width: 62px;
  position: absolute;
  margin-top: 54px;
  margin-left: 30px;
}
.meter__digital__minute::before {
  content: "88";
  position: absolute;
  opacity: 0.1;
}
.meter__digital__second {
  font-size: 12px;
  width: 15px;
  position: absolute;
  margin-left: 98px;
}
.meter__digital__second::before {
  content: "88";
  position: absolute;
  opacity: 0.1;
}

.meter__digital__date {
  font-family: "Kode Mono";
  position: absolute;
  width: 62px;
  font-size: 8px;
  margin-left: 30px;
  margin-top: 108px;
  text-align: center;
}
