@import "./clocks/analogue.css";
@import "./clocks/meter.css";
@import "./clocks/waktu-indonesia.css";

* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.clock {
  width: 50vw;
  height: 50vh;
  min-width: 320px;
  min-height: 320px;
  display: flex;
  align-items: center;
  justify-content: center;
}
